.DS_Store
*.DS_Store
decode
node_modules
react

{"code":0,"msg":"success","data":{"list":[{"exerciseId":"7632","courseId":"24","data":"{\"questionTitle\":\"dddd\",\"resource\":{\"url\":\"https://cap.bczcdn.com/adult/2e76f0b957ad1e5714a217001c63a7ed852b.xlsx\",\"name\":\"第一关：实战练习 (6).xlsx\"},\"pratice\":[{\"questionTitle\":\"dddd\",\"resource\":{\"$ref\":\"$.resource\"},\"title\":\"题目\",\"desc\":\"<p>dddd</p>\"},{\"title\":\"答案\",\"desc\":\"<p>dddd</p>\"},{\"img\":[\"https://cap.bczcdn.com/adult/a159616b68f640ca5bd98b59974409f243f7.png\"],\"title\":\"详解步骤\",\"desc\":\"\"}]}","edition":"OFFICE","pageId":4669,"lessonId":"1065","lessonNumber":1,"seq":1,"title":"dddd","type":"excelPratice","finished":false,"pilotLesson":false}]}}
{"code":0,"msg":"success","data":{"list":[{"exerciseId":"7632","courseId":"24","data":"{\"questionTitle\":\"dddd\",\"resource\":{\"url\":\"https://cap.bczcdn.com/adult/2e76f0b957ad1e5714a217001c63a7ed852b.xlsx\",\"name\":\"第一关：实战练习 (6).xlsx\"},\"pratice\":[{\"questionTitle\":\"dddd\",\"resource\":{\"$ref\":\"$.resource\"},\"title\":\"题目\",\"desc\":\"<p>dddd</p>\"},{\"title\":\"答案\",\"desc\":\"<p>dddd</p>\"},{\"img\":[\"https://cap.bczcdn.com/adult/a159616b68f640ca5bd98b59974409f243f7.png\"],\"title\":\"详解步骤\",\"desc\":\"\"}]}","edition":"OFFICE","pageId":4669,"lessonId":"1065","seq":1,"title":"dddd","type":"excelPratice","finished":false,"pilotLesson":false}]}}
